<div class="section">
  <h1> Update Screening </h1>
  <div class="row">
    <form class="col s12 screening-form" ng-submit="createScreening()">
      <div class="row">
        <div class="input-field col s12">
          <label for="title"> Screening Title </label>
          <input id="title" type="text" class="validate" ng-model="title">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="date"> Screening Date </label>
          <input id="date" type="datetime-local" class="validate datepicker" ng-model="date">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="synopsis"> Screening Synopsis </label> 
          <textarea id="synopsis" class="materialize-textarea" ng-model="synopsis"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="location"> Screening Address </label>
          <input id="location" type="text" class="validate" ng-model="location">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="genre"> Screening Genre </label>
          <input id="genre" type="text" class="validate" ng-model="genre">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="release"> Screening Release Date </label>
          <input id="release" type="date" class="validate datepicker" ng-model="release">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="rating"> Screening Content Rating(N/A if unknown) </label>
          <input id="rating" type="text" class="validate" ng-model="rating">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="duration"> Screening Duration(ex. 114 min , or N/A if unknown) </label>
          <input id="duration" type="text" class="validate" ng-model="duration">
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <label for="director"> Director(s) </label>
          <input id="director" type="text" class="validate" ng-model="director">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="star"> Star(s) </label>
          <input id="star" type="text" class="validate" ng-model="star">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="screeningType"> Screening Type </label>
          <select style="display: block;">
            <option value="" disabled selected ng-model="screeningType">Choose your option</option>
            <option value="1">Outdoor</option>
            <option value="2">Indoor</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <input type="text" class="validate file-path" ng-model="photopath"/>
          <div class="btn">
            <span>File</span>
            <input type="file" id="photo">
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action"><i class="mdi-notification-sync right"></i>Update Screening</button>
      <button class="btn waves-effect waves-light red" ng-click="deleteScreening()"><i class="mdi-action-delete right"></i>Delete</button>
    </form>
  </div>
</div>


      
