<!doctype html>
<html class="no-js">
  <head>
    <meta name="fragment" content="!">
    <base href="/">  
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="reeelApp" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- Notifications -->
    <div id="notify" ng-if="alert()" ng-model="notify">
      <div class="alert alert-dismissable page-alert" ng-class="'alert-' + notify.type">
        <button type="button" ng-click="close()" class="close"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
          {{notify.message}}  
      </div>
    </div><!-- end of notifications -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a ui-sref="profile">Account Settings<span class="medium mdi-action-settings right"></span></a></li>
      <li class="divider"></li>
      <li><a ng-click="logOut()">Sign Out<span class="medium mdi-action-exit-to-app right"></span></a></li>
    </ul>

    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Reeel</a>
        <ul class="left hide-on-med-and-down">
          <li class="active"><a ui-sref="landing">Home</a></li>
        </ul>
        <ul ng-show="currentUser" class="right hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large mdi-action-account-circle"></i></a></li>
        </ul>
        <ul ng-hide="currentUser" class="right hide-on-med-and-down">
          <li><button type="button" ng-click="go('signup')" class="btn btn-success navbar-btn btn-circle">Sign Up</button></li>
          <li><button type="button" ng-click="go('login')" class="btn btn-default navbar-btn">Sign In</button></li>  
        </ul>

        <ul id="nav-mobile" class="side-nav">
           <ul ng-show="currentUser" class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large mdi-action-account-circle"></i></a></li>
          </ul>
          <ul ng-hide="currentUser">
            <li><button type="button" ng-click="go('signup')" class="btn btn-success navbar-btn btn-circle">Sign Up</button></li>
            <li><button type="button" ng-click="go('login')" class="btn btn-default navbar-btn">Sign In</button></li>  
          </ul>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>

    <div class="row">
      <div class="col s12">
        <div ui-view=""></div>
      </div> 
    </div>

    <div class="footer">
      <div class="container text-center">
        <p><span class="glyphicon glyphicon-copyright-mark"></span> Reeel, 2015</p>
      </div>
    </div>
    
    <!-- For ngAutoComplete -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/parse/parse.min.js"></script>
    <script src="bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="bower_components/ui-router-extras/release/ct-ui-router-extras.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="app.module.js"></script>
        <script src="app.routes.js"></script>
        
        <!-- endbuild -->
        <script src="components/data/parseService.js"></script>
        <script src="components/data/userService.js"></script>
        <script src="components/data/screeningService.js"></script>
        <script src="components/user/signup/signupController.js"></script>
        <script src="components/user/login/loginController.js"></script>
        <script src="components/user/recover/recoverPasswordController.js"></script>
        <script src="components/user/profile/profileController.js"></script>
        <script src="shared/ngAutocomplete.js"></script>
        <script src="components/landing/landingController.js"></script>
        <script src="components/screening/screeningController.js"></script>


        <!-- TODO: Make directive for plugins -->
        <script type="text/javascript">
          $(document).ready(function(){
            $(".dropdown-button").dropdown();
          });
        </script>
</body>
</html>
