<!doctype html>
<html class="no-js">
  <head>
    <meta name="fragment" content="!">
    <base href="/">  
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="reeelApp" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header>
    <!-- Notifications -->
    <!-- <div id="notify" ng-if="alert()" ng-model="notify">
      <div class="alert alert-dismissable page-alert" ng-class="'alert-' + notify.type">
        <button type="button" ng-click="close()" class="close"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
          {{notify.message}}  
      </div>
      </div> --><!-- end of notifications -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" style="width: 200px;" class="dropdown-content">
      <li><a ui-sref="guestlist.index" class="right"> GuestLists </a></li>
      <li><a ui-sref="profile">Account Settings<span class="medium mdi-action-settings right"></span></a></li>
      <li class="divider"></li>
      <li><a ng-click="logOut()">Sign Out<span class="medium mdi-action-exit-to-app right"></span></a></li>
    </ul>
    <div class="navbar-fixed">
      <nav class="black lighten-1 header-nav" role="navigation">
        <div class="container">
          <div class="nav-wrapper">
            <div class="valign-demo valign-wrapper left">
              <a id="logo-container" href="#" class="brand-logo">
                <div class="hide-on-med-and-down">
                  <span style="padding-left: 20px;"class="left" ui-sref="landing">Reeel</span>
                </div>
              </a>

              <!-- ui-sref-active="active" --> 
            </div>
            <ul class="right center-align hide-on-med-and-down">
              <li><button ui-sref="screening.create" class="btn-floating btn-large waves-effect waves-light black" ><i class="mdi-content-add"></i></button></li>
              <li><a ui-sref="screening.index({ userId:currentUser.id })" class="right"> My Screenings </a></li>
              <li><a ui-sref="guestlist.index" class="right"> GuestLists </a></li>
              <li style="width: 200px;" ng-if="currentUser"><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large mdi-action-account-circle"></i></a></li>
              <li style="width: 200px;" ng-if="!currentUser"><button type="button" ui-sref="signup" class="btn btn-success navbar-btn btn-circle">Sign Up</button></li>
              <li style="width: 200px;"ng-if="!currentUser"><button type="button" ui-sref="login" class="btn btn-default navbar-btn">Sign In</button></li> 
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul id="nav-mobile" class="side-nav right" style="left: -250px;" ng-if="!currentUser">
              <li style="width: 200px;"><button type="button" ui-sref="signup" class="btn btn-success navbar-btn btn-circle">Sign Up</button></li>
              <li style="width: 200px;"><button type="button" ui-sref="login" class="btn btn-default navbar-btn">Sign In</button></li> 
            </ul>
            <ul id="nav-mobile" class="side-nav right" style="left: -250px;" ng-if="currentUser">
              <li><a ui-sref="screening.index({ userId:currentUser.id })"> My Screenings </a></li>
              <li><a ui-sref="profile">Account Settings<span class="medium mdi-action-settings right"></span></a></li>
      <li class="divider"></li>
             <li><a ng-click="logOut()">Sign Out<span class="medium mdi-action-exit-to-app right"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    </header>
    <main>
    <div style="padding-top: 80px;"class="container">
        <div ui-view=""></div>
    </div>
    </main>

    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p><span class="glyphicon glyphicon-copyright-mark"></span> Reeel, 2015</p>
          </div>
          <div class="col l4 offset-l2"></div>
        </div>
      </div>
    </footer>

    <!-- For ngAutoComplete -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/parse/parse.min.js"></script>
    <script src="bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="bower_components/ui-router-extras/release/ct-ui-router-extras.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="app.module.js"></script>
        <script src="app.routes.js"></script>
        
        <!-- endbuild -->
        <script src="components/data/parseService.js"></script>
        <script src="components/data/userService.js"></script>
        <script src="components/data/screeningService.js"></script>
        <script src="components/data/authService.js"></script>
        <script src="components/user/signup/signupController.js"></script>
        <script src="components/user/login/loginController.js"></script>
        <script src="components/user/recover/recoverPasswordController.js"></script>
        <script src="components/user/profile/profileController.js"></script>
        <script src="shared/ngAutocomplete.js"></script>
        <script src="components/landing/landingController.js"></script>
        <script src="components/screening/screeningController.js"></script>
        <script src="components/guestlist/guestlistController.js"></script>

        <!-- TODO: Make directive for plugins -->
        <script type="text/javascript">
          $(document).ready(function(){
            $('.button-collapse').sideNav();
            $('.dropdown-button').dropdown();
            $('.modal-trigger').leanModal();
            $('select').material_select();
            $('select').material_select('destroy');
            $('.scrollspy').scrollSpy();
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15 // Creates a dropdown of 15 years to control year
            });
            $('.parallax').parallax(); // Parallax
            $('.search-wrap').pushpin({ top: 0 });
          });
            
        </script>
    </body>
</html>
