 <div id="form-olvidado">
    <h4 class="">
      Forgot your password?
    </h4>
    <form accept-charset="UTF-8" role="form" id="login-recordar" method="post" ng-submit="requestPasswordReset()">
      <fieldset>
        <span class="help-block">
          Please enter the email address you used to create an account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
          <input class="form-control" ng-model="email" placeholder="Email" name="email" type="email" required="">
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
          Continue
        </button>
        <p class="help-block">
          <a class="text-muted" ui-sref="login" id="acceso"><small>Account Access</small></a>
        </p>
      </fieldset>
    </form>
  </div>
