<div class="section" ng-if="currentUser">
  <div class="row">
    <div style="padding-left: 10px;" class="left col s12">
      <button ui-sref="screening.create" class="btn-floating btn-large waves-effect waves-light red" ><i class="mdi-content-add"></i></button>
    </div>
  </div>
</div>

<div class="section" ng-if="screenings">
  <nav style="" class="search-wrap black">
    <div class="nav-wrapper row">
      <form class="col s12">
        <div class="input-field">
          <input id="search" ng-model="searchText" type="search">
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="section screening-cards" style="padding-top: 50px;">
  <div class="row">
    <span ng-hide="screenings"> Sorry No Screenings Posted</span>
    <div ng-repeat="screening in screenings | filter:searchText" class="col s12 m6">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{screening._serverData.screeningPoster._url}}"/>
        </div>
        <div class="card-content">
          <p>
            <span class="card-title activator grey-text text-darken-4">{{screening._serverData.screeningTitle}}<i class="mdi-navigation-more-vert right"></i></span>
          </p>
          <span class="left valign-wrapper">
            <i class="mdi-device-access-time left valign text-darken-2"> {{screening._serverData.screeningDate | date: 'EEEE, MMMM, d @ h:mm a'}}</i>
          </span>
          <span class="left valign-wrapper truncate">
            <i class="mdi-maps-place left valign text-darken-2"> {{screening._serverData.screeningLocation}}</i>
          </span>
          <span class="left" ng-if="currentUser">
            <a ui-sref="screening.update({ screeningId:screening.id })"><i class="mdi-editor-mode-edit"></i></a>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{screening._serverData.screeningTitle}}<span> ({{screening._serverData.screeningReleaseDate | date: 'yyyy'}})<i</span><i class="mdi-navigation-close right"></i></span>
          <p>{{screening._serverData.screeningSynopsis}}<i</p>
          <ul class="collection left">
            <li class="collection-item avatar">
             <span class="title">Director(s): {{screening._serverData.screeningDirectorInfo}}<i</span>
             <br/>
             <span class="title">Star(s): {{screening._serverData.screeningStarInfo}}<i</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
